#crms-container {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 640px;
	height: 570px;
	z-index: 10;
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 1px 1px 7px 0 #343434;
	will-change: transform;
}

#crms-canvas-wrap {
	display: flex;
	justify-content: center;
	background: #d3d3d3;
}

#crms-preview {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #d3d3d3;
}

#crms-preview-header {
	height: 30px;
	cursor: grab;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background: #fff;
}

#crms-preview-footer {
	height: 50px;
	padding: 5px 10px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background: #fff;
}

#crms-input {
	display: none;
	visibility: hidden;
}

#crms-output {
	display: block;
	background-color: #6a6a6a;
}

/* #sharingScreen.visible {
  display: block;
} */

/* screen share area selector */
#backdrop-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#drag-markers-container {
	position: absolute;
	top: 0;
	left: 0;
}

.draggable {
	position: absolute;
	width: 16px;
	height: 16px;
	cursor: move;
	z-index: 2;
}

.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid #f8f9fa;
	margin: 0 .75rem;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	color: #212529;
	background-color: #f8f9fa;
	cursor: pointer;
}

.btn:hover {
	background-color: #e2e6ea;
	border-color: #dae0e5;
}

.btn-primary {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.btn-primary:hover {
	background-color: #0069d9;
	border-color: #0062cc;
}

.icon-btn {
	background: none;
	border: none;
	outline: none;
	padding: 2px 7px;
	cursor: pointer;
}

.icon-btn.s20 {
	padding: 4px 9px;
}

.icon-btn:hover {
	background-color: #e2e6ea;
	border-color: #dae0e5;
}

.icon-btn.s24 > svg {
	width: 24px;
	height: 24px;
}

.icon-btn.s20 > svg {
	width: 20px;
	height: 20px;
}

/* end screen share area selector */
#buttons {
	position: absolute;
	bottom: 0;
	padding: 1rem;
	background: #6a6a6a;
	z-index: 999;
}

.crms-hidden {
	display: none !important;
	visibility: hidden;
}

.w100 {
	width: 100%;
}

.h100 {
	height: 100%;
}
